@import "~assets/scss/variable.scss";
@import "~assets/scss/mixins.scss";
@import "~assets/scss/default.scss";

body {
	direction: rtl;
	text-align: right;
	background-color: $white;
	.container {
		overflow: hidden;
	}
}

a {
	text-decoration: none;
	&:hover {
		text-decoration: none;
	}
}

.cpo {
	cursor: pointer !important;
}

.outline-none {
	outline: none !important;
}
.border-none {
	border: none;
}
@include font-size();
@include font-weight();
@include rounded();
@each $index, $breakpoint in $breakpoint-default {
	@media screen and #{$breakpoint} {
		@include font-size($index);
	}
}

.scroll-hide::-webkit-scrollbar {
	display: none;
}

.webkit-scrollbar::-webkit-scrollbar {
	width: 8px;
	height: 12px;
}
.webkit-scrollbar::-webkit-scrollbar-thumb {
	background-color: #bfbfbf;
}
.webkit-scrollbar::-webkit-scrollbar {
	background-color: #ececec;
}

.overflow-y {
	overflow-y: auto;
	overflow-x: hidden;
}
