@import "~assets/scss/variable.scss";
@import "~assets/scss/mixins.scss";
@import "~assets/scss/default.scss";

body {
	direction: rtl;
	text-align: right;
	background-color: $white;
	.container {
		overflow: hidden;
	}
}

a {
	text-decoration: none;
	&:hover {
		text-decoration: none;
	}
}

input[type="number"] {
	direction: ltr !important;
}

@include font-size();
@include font-weight();
@include rounded();
@each $index, $breakpoint in $breakpoint-default {
	@media screen and #{$breakpoint} {
		@include font-size($index);
	}
}

//-----------------------------background--------------------------------
.background-size-100 {
	background-size: 100% 100%;
}

//-----------------------------color--------------------------------
.chrome-picker-box {
	left: 0;
	top: 100%;
	z-index: 99999;
	max-width: 200%;
	display:none;
	input{
		direction: ltr;
	}
	&.active{
		display:block;
	}
}

//-----------------------------outline--------------------------------
.outline-none {
	outline: none !important;
}
//-----------------------------border--------------------------------
.border-none {
	border: none;
}
//-----------------------------scroll--------------------------------
.scroll-hide::-webkit-scrollbar {
	display: none;
}

.webkit-scrollbar::-webkit-scrollbar {
	width: 8px;
	height: 12px;
}
.webkit-scrollbar::-webkit-scrollbar-thumb {
	background-color: #bfbfbf;
}
.webkit-scrollbar::-webkit-scrollbar {
	background-color: #ececec;
}

//-----------------------------overflow--------------------------------
.overflow-y {
	overflow-y: auto;
	overflow-x: hidden;
}
//-----------------------------cursor--------------------------------
.cursor-pointer {
	cursor: pointer;
}
.cursor-move {
	cursor: move;
}
.cursor-alias {
	cursor: alias;
}
.cursor-grab {
	cursor: move;
	cursor: grab;
	cursor: -moz-grab;
	cursor: -webkit-grab;
}
.cursor-grab:active,
.cursor-grabbing {
	cursor: grabbing;
	cursor: -moz-grabbing;
	cursor: -webkit-grabbing;
}
